<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="..." />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS_code/styles.css')}}" />
    <title>Wall Street, Your Street</title>

    <style>
      /* Style the header */
      .header {
        padding: 80px;
        text-align: center;
        color: white;
        background-image: url("{{ url_for('static', filename='Images/Header_bg.jpg' ) }}");
        background-size: cover;
        background-position: center;
      }
     
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Wall Street, Your Street</h1>
      <p>Machine Learning algorithm showing the correlation between the stock market and housing prices</p>
    </div>

    <div class="row">
      <div class="side">
        <h2>Graph</h2>
        <div class="fakeimg" style="height: 500px"><img src="https://cdn-res.keymedia.com/cms/images/us/077/0311_638037597285663233.jpg" alt="Graph" style="width:900px;height:450px;border-radius:0px;"></div>
      </div>
      <div class="main">
        <div class="navbar">
          <a href="{{ url_for('team' ) }}" class="right">Team</a>
          <a href="{{ url_for('about' ) }}" class="right">About</a>
          <a href="{{ url_for('key' ) }}" class="right">Visualizations</a>
        </div>
        <div class="panel">
          <h3>About</h3>
          <p>
            Unbeknownist to many, the fluctuations of the stock market have an important impact on the price of rent.
            We want to show this correlation, so we trained a machine learning algorithm that predicts the cost of a house,
            given a certain S&P index. We found that in economic recessions, the price of a home tends to go up - leaving
            many American families struggling to pay rent in a struggling economy with high unemplyment. We hope this information
            will empower people to advocate for legislative actions and policies that aid families when faced with such renters crises.
          </p>
        </div>
      </div>
    </div>

    <div class="footer">
      <h2>Footer</h2>
    </div>
  </body>
</html>

