<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="..." />
    <title>Wall Street, Your Street</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS_code/styles.css')}}" />

    <style>
      /* Style the header */
      .header {
        padding: 80px;
        text-align: center;
        color: white;
        background-image: url("{{ url_for('static', filename='Images/Header_bg.jpg' ) }}"); 
        background-size: cover; 
        background-position: center;
      }

      img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        object-fit: cover;
      }
      
    </style>
    
  </head>
  <body>
    <div class="header">
      <h1>Wall Street, Your Street</h1>
      <p>Background info about project</p>
    </div>

    <div class="row">
      <div class="side">
        <h2>Graph</h2>
        <div class="fakeimg" style="height: 500px">Graph img</div>
      </div>
      <div class="main">
        <div class="navbar">
          <a href="{{ url_for('team' ) }}" class="right">Team</a>
          <a href="{{ url_for('about' ) }}" class="right">About</a>
          <a href="{{ url_for('key' ) }}" class="right">Key</a>
        </div>
        <div class="panel">
            <h3>Team</h3>
            <p>
              We are a group of computer science majors at UIUC, interested in doing cool projects to make a difference!
            </p>
            <img src="{{url_for('static', filename= 'Images/areeba_222 - Copy.jpg')}}" alt="Picture of Areeba">
            <h4>Areeba Rashid</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <img src="{{url_for('static', filename= 'Images/Renorman_222.jpg')}}" alt="Picture of Rory">
            <h4>Rory Norman</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <img src="{{url_for('static', filename= 'Images/Foziea_Headshot.jpg')}}" alt="Picture of Foziea">
            <h4>Foziea Garada</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="fake_us" style="height: 100px">Ishq Gupta</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      </div>
    </div>

    <div class="footer">
      <h2>Footer</h2>
    </div>
  </body>
</html>
